target/spring-docker-war/WEB-INF/lib/slf4j-api-1.7.25.jar
target/spring-docker-war/WEB-INF/lib/micrometer-core-1.0.7.jar
target/spring-docker-war/WEB-INF/lib/logback-core-1.2.3.jar
target/spring-docker-war/WEB-INF/lib/logback-classic-1.2.3.jar
target/spring-docker-war/WEB-INF/lib/log4j-to-slf4j-2.10.0.jar
target/spring-docker-war/WEB-INF/lib/log4j-api-2.10.0.jar
target/spring-docker-war/WEB-INF/lib/jul-to-slf4j-1.7.25.jar
target/spring-docker-war/WEB-INF/lib/jboss-logging-3.3.2.Final.jar
target/spring-docker-war/WEB-INF/lib/javax.annotation-api-1.3.2.jar
target/spring-docker-war/WEB-INF/lib/jackson-module-parameter-names-2.9.7.jar
target/spring-docker-war/WEB-INF/lib/jackson-datatype-jsr310-2.9.7.jar
target/spring-docker-war/WEB-INF/lib/jackson-datatype-jdk8-2.9.7.jar
target/maven-archiver/pom.properties
target/classes/templates/app.html
target/classes/com/prostep/examples/InfoObject.class
target/classes/com/prostep/examples/HealthObject.class
target/classes/com/prostep/examples/DockerActuatorApplication.class
target/classes/com/prostep/examples/AppRestController.class
target/classes/application.properties
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/spring-docker-war/index.jsp
target/spring-docker-war/WEB-INF/web.xml
target/spring-docker-war/WEB-INF/lib/validation-api-2.0.1.Final.jar
target/spring-docker-war/WEB-INF/lib/unbescape-1.1.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/tomcat-embed-websocket-8.5.34.jar
target/spring-docker-war/WEB-INF/lib/tomcat-embed-el-8.5.34.jar
target/spring-docker-war/WEB-INF/lib/tomcat-embed-core-8.5.34.jar
target/spring-docker-war/WEB-INF/lib/thymeleaf-spring5-3.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/thymeleaf-extras-java8time-3.0.1.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/thymeleaf-3.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-json-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-actuator-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/jackson-databind-2.9.7.jar
target/spring-docker-war/WEB-INF/lib/jackson-core-2.9.7.jar
target/spring-docker-war/WEB-INF/lib/jackson-annotations-2.9.0.jar
target/spring-docker-war/WEB-INF/lib/hibernate-validator-6.0.13.Final.jar
target/spring-docker-war/WEB-INF/lib/classmate-1.3.4.jar
target/spring-docker-war/WEB-INF/lib/attoparser-2.0.5.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/LatencyUtils-2.0.3.jar
target/spring-docker-war/WEB-INF/lib/HdrHistogram-2.1.10.jar
target/spring-docker-war/WEB-INF/classes/com/prostep/examples/DockerActuatorApplication.class
target/spring-docker-war/WEB-INF/classes/com/prostep/examples/AppRestController.class
target/spring-docker-war/WEB-INF/classes/application.properties
target/spring-docker-war.war.original
target/spring-docker-war/WEB-INF/lib/spring-webmvc-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-web-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-jcl-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-expression-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-core-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-context-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-web-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-tomcat-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-thymeleaf-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-logging-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-starter-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-autoconfigure-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-actuator-autoconfigure-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-actuator-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-boot-2.0.6.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-beans-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/spring-aop-5.0.10.RELEASE.jar
target/spring-docker-war/WEB-INF/lib/snakeyaml-1.19.jar
target/spring-docker-war/WEB-INF/classes/templates/app.html
target/spring-docker-war/WEB-INF/classes/com/prostep/examples/InfoObject.class
target/spring-docker-war/WEB-INF/classes/com/prostep/examples/HealthObject.class
target/spring-docker-war.war
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/
